//border
@mixin border($color: #999,$width: 1px, $style: solid){
    border: $width  $style $color;
}

@mixin border-radius($value: 5px){
    border-radius: $value;
}

@mixin box-shadow ($x: 0, $y: 0, $blur: 1px, $color: #000) {
  box-shadow: $x $y $blur $color;
  -moz-box-shadow: $x $y $blur $color;
  -webkit-box-shadow: $x $y $blur $color;
}

//form
@mixin input-focus($color: $input-shadow-color) {
    box-shadow: 0 0 8px $color;
}


@mixin placeholder($color: $input-placeholder-color) {
  /* 通用 */
  ::-webkit-input-placeholder { color:#f00; }
  ::-moz-placeholder { color:#f00; } /* firefox 19+ */
  :-ms-input-placeholder { color:#f00; } /* ie */
  input:-moz-placeholder { color:#f00; }

  /* webkit专用 */
  input::-webkit-input-placeholder { color:#00f; }

  /* mozilla专用 */
  input::-moz-placeholder { color:#00f; }
}
